@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Light'),
        url('../fonts/OpenSansLight.woff2') format('woff2'),
        url('../fonts/OpenSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Regular'),
        url('../fonts/OpenSansRegular.woff2') format('woff2'),
        url('../fonts/OpenSansRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-SemiBold'),
        url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
        url('../fonts/OpenSansSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

:root {
    --gap: 30px;
}

/* для всех */
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.button {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #3172B9;
    text-transform: uppercase;
    transition-property: color, background;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
}

.button::after {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    border-radius: inherit;
    border: 1px solid #71A7E2;
    outline: none;
    opacity: 0;
    transition-property: border-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.button:focus::after {
    opacity: 1;
}

.button:hover {
    background-color: #71A7E2;
}

.button:active {
    background-color: #0E3B6C;
}

.button:active::after {
    opacity: 0;
}

.h2 {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 36px;
    line-height: 130%;
    color: #1C1C1C;
}

.section-desc {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #787878;
}

.section {
    padding-top: 87px;
    padding-bottom: 160px;
    border-bottom: 1px solid #DADADA;
}

.flex {
    display: flex;
}

/* header*/
.header {
    padding: 36px 0;
    border-bottom: 1px solid #DADADA;
}

.container-header {
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-nav-menu {
    margin-right: 52px;
}

.header-nav-item:not(:last-child) {
    margin-right: 52px;
}

.header-nav-item a {
    position: relative;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1C1C1C;
    transition: color 0.3s ease-in-out;
}

.header-nav-item a:focus {
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
}

.header-nav-item a:hover {
    color: #71A7E2;
}

.header-nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3474BA;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header-nav-item a:active {
    color: #3172B9;
    outline: none;
}

.header-nav-item a:active::after {
    opacity: 1;
}

.header-button {
    padding: 15px 35px;
    border-radius: 3px;
}

.header-nav-burger-button {
    display: none;
}

/* hero*/
.hero-section-main {
    padding: 100px 0;
    background-image: url(../img/hero-image-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 40px;
    line-height: 130%;
    color: #1C1C1C;
}

.hero-desc {
    margin: 0;
    margin-bottom: 34px;
    max-width: 480px;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    color: #787878;
}

.hero-button-secure {
    flex-direction: column;
}

.hero-button {
    margin-bottom: 14px;
    padding: 20px 60px;
    border-radius: 3px;
}

.hero-secure {
    align-self: center;
    padding-left: 30px;
    font-weight: 400;
    font-size: 11px;
    line-height: 155%;
    color: #787878;
    text-transform: uppercase;
    background-image: url(../img/Vector-security.png);
    background-repeat: no-repeat;
    background-position: left;
}

/* services */
.services-h2 {
    text-align: center;
}

.section-desc {
    text-align: center;
}

.services-list {
    flex-wrap: wrap;
    --offsets: 3;
    gap: var(--gap)
}

.services-item {
    padding: 60px 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.services-item:hover {
    border-color: #3172B9;
    background-color: #3172B9;
}

.services-item-icon {
    margin-bottom: 25px;
    fill: #3172B9;
    transition: fill 0.3s ease-in-out;
}

.services-item:hover .services-item-icon {
    fill: #FFF;
}

.services-h3 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #1C1C1C;
    transition: color 0.3s ease-in-out;
}

.services-item:hover .services-h3 {
    color: #fff;
}

.services-desc {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
    transition: color 0.3s ease-in-out;
}

.services-item:hover .services-desc {
    color: #FFF;
}

/* article */
.articles-list {
    flex-wrap: wrap;
    --offsets: 1;
    gap: var(--gap);
}

.articles-item {
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
    min-height: 180px;
}

.articles-blog-preview {
    border: 1px solid #E4E4E4;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out;
}

.blog-preview-link {
    width: 100%;
    height: 100%;
}

.blog-preview-link:focus {
    border: #71A7E2;
    background-color: #71A7E2;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.blog-preview-link:focus .articles-time {
    color: #fff;
}

.blog-preview-link:focus .articles-h3 {
    color: #fff;
}

.blog-preview-link:focus .articles-desc {
    color: #fff;
}

.blog-preview-link:hover {
    border: #3172B9;
    background-color: #3172B9;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.blog-preview-link:hover .articles-time {
    color: #fff;
}

.blog-preview-link:hover .articles-h3 {
    color: #fff;
}

.blog-preview-link:hover .articles-desc {
    color: #fff;
}

.blog-preview-link:active {
    border: #0E3B6C;
    background-color: #0E3B6C;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.blog-preview-link:active .articles-time {
    color: #fff;
}

.blog-preview-link:active .articles-h3 {
    color: #fff;
}

.blog-preview-link:active .articles-desc {
    color: #fff;
}

.articles-blog-preview-text {
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.articles-blog-preview-image {
    object-fit: cover;
}

.articles-time {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color: #787878;
    transition: color 0.3s ease-in-out;
}

.articles-h3 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: #1C1C1C;
    transition: color 0.3s ease-in-out;
}

.articles-desc {
    margin: 0;
    max-width: 210px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
    transition: color 0.3s ease-in-out;
}

.article-center {
    display: none;
    text-align: center;
}

/* clients */
.clients-list {
    flex-wrap: wrap;
    --offsets: 2;
    gap: var(--gap);
}

.client-item {
    flex-direction: column;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
    padding: 50px 35px 30px;
}

.client-desc {
    margin: 0;
    margin-bottom: 30px;
    max-width: 280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.client-user {
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #DADADA;
}

.client-avatar {
    flex-shrink: 0;
    width: 67px;
    margin-right: 17px;
}

.client-avatar img {
    width: 100%;
    height: 100%;
    border: 2px solid #3172B9;
    border-radius: 100%;
}

.client-name {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1C1C1C;
}

.client-post {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

/* contacts */
.h2-contact {
    margin-bottom: 110px;
}

.contacts-address {
    font-style: normal;
}

.contacts-list {
    flex-wrap: wrap;
    --offsets: 2;
    gap: var(--gap);
}

.contacts-item {
    flex-direction: column;
    width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 50px;
}

.contacts-item-1 {
    background-image: url(../img/contact-visit.svg);
}

.contacts-item-2 {
    background-image: url(../img/contact-call.svg);
}

.contacts-item-3 {
    background-image: url(../img/contact-mail.svg);
}

.contacts-item-caption {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 17px;
    line-height: 180%;
    color: #1C1C1C;
}

.contacts-item-desc {
    margin: 0;
    max-width: 220px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
    transition: color 0.3s ease-in-out;
}

.contacts-item-link-tel {
    width: 125px;
}

.contacts-item-link-mailto {
    width: 170px;
}

.contacts-item-link:focus {
    outline: 1px solid #71A7E2;
}

.contacts-item-link:hover {
    color: #71A7E2;
    outline: none;
}

.contacts-item-link:active {
    color: #0E3B6C;
    outline: none;
}

/*join-us*/
.join-us-h2 {
    margin: 0;
    margin-bottom: 22px;
    text-align: center;
}

.section-desc-join-us {
    margin-bottom: 30px;
}

.form {
    margin: 0 55px;
    flex-wrap: wrap;
}

.form-top {
    gap: 20px;
    min-height: 140px;
}

.form-left {
    width: 520px;
    flex-wrap: wrap;
    gap: 20px;
}

.form-input {
    width: 250px;
    height: 60px;
    padding: 15px 28px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-input:focus,
.form-select:focus,
.form-text-area:focus {
    border: 1px solid #71A7E2;
    background-color: rgba(113, 167, 226, 0.2);
    outline: none;
}

.form-input:hover,
.form-select:hover,
.form-text-area:hover {
    border: 1px solid #71A7E2;
    outline: none;
}

.form-input:active,
.form-select:active,
.form-text-area:active {
    border: 1px solid #0E3B6C;
    background-color: transparent;
    outline: none;
}

.form-select {
    width: 250px;
    height: 60px;
    padding: 15px 28px;
    border: 1px solid #DADADA;
    border-radius: 50px;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-right {
    width: 520px;
}

.form-text-area {
    padding: 15px 28px;
    width: 100%;
    border: 1px solid #DADADA;
    border-radius: 20px;
    resize: none;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form-bottom {
    margin-top: 20px;
    justify-content: flex-end;
}

.form-bottom-wrapping {
    flex-direction: column;
    align-items: center;
}

.button-join-us {
    margin-bottom: 10px;
    padding: 20px 67px;
    border-radius: 50px;
}

.local-join-us-user-agreement {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
    cursor: pointer;
}

.join-us-checkbox {
    margin-right: 8px;
    cursor: pointer;
}

.local-join-us-user-agreement a {
    border-bottom: 1px solid #3172B9;
    color: #3172B9;
}

/*footer*/
.footer {
    padding: 42px 0;
}

.footer-container {
    align-items: center;
    justify-content: space-between;
}

.footer-left {
    margin-right: 20px;
}

.footer-left,
.footer-right {
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #787878;
}

.footer-nav {
    margin-right: 55px;
}

.footer-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #787878;
}

.footer-item:not(:last-child) {
    margin-right: 28px;
}

.social-item:not(:last-child) {
    margin-right: 35px;
}

.social-link {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.social-link svg {
    fill: black;
    transition: fill 0.3s ease-in-out;
}

.social-link-mail svg path {
    fill: transparent;
    stroke: black;
    transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social-link:focus {
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
}

.social-link:hover svg {
    fill: #71A7E2;
}

.social-link-mail:hover svg path {
    fill: transparent;
    stroke: #71A7E2;
}

.social-link:active svg {
    fill: #3172B9;
}

.social-link-mail:active svg path {
    fill: transparent;
    stroke: #3172B9;
}

.social-link:active {
    outline: none;
}

@media (max-width: 1199px) {

    .form-input,
    .form-select {
        width: 100%;
    }
}

@media (max-width: 1035px) {
    .footer-nav {
        margin-right: 30px;
    }

    .footer-item:not(:last-child) {
        margin-right: 25px;
    }

    .social-item:not(:last-child) {
        margin-right: 25px;
    }
}

@media (max-width: 990px) {

    .header-nav-menu {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        min-width: 250px;
        height: 100vh;
        z-index: 10;
        padding: 40px;
        box-shadow: 0 0 5px #787878;
        background-color: #FFF;
        overflow-y: auto;
        visibility: hidden;
        transform: translateX(-120%);
        transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .header-nav-list {
        flex-direction: column;
    }

    .header-nav-item:not(:last-child) {
        margin: 0;
        margin-bottom: 20px;
    }

    .header-nav-item a {
        font-size: 18px;
    }

    .header-nav-menu--active {
        visibility: visible;
        transform: none;  
    }

    .header-nav-burger--active
    .header-nav-burger:nth-child(2) {
        opacity: 0;
    }

    .header-nav-burger--active
    .header-nav-burger:first-child {
        left: 25%;
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
    }

    .header-nav-burger--active
    .header-nav-burger:last-child {
        bottom: auto;
        left: 25%;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out;
    }

    .header-stop-scroll {
        overflow: hidden;
    }

    .header-button {
        padding: 10px 21px;
        margin-right: 7px;
    }

    .header-nav-burger-button {
        position: relative;
        display: block;
        border: 1px solid currentColor;
        color: #3172B9;
        border-radius: 3px;
        background-color: transparent;
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .header-nav-burger {
        position: absolute;
        left: 50%;
        width: 20px;
        height: 2px;
        border-radius: inherit;
        background-color: currentColor;
        transform: translateX(-50%);
    }

    .header-nav-burger:first-child {
        top: 11px;
    }

    .header-nav-burger:nth-child(2) {
        top: 49%;
        transform: translateX(-50%) translateY(-28%);
    }

    .header-nav-burger:last-child {
        bottom: 11px;
    }

    .hero-content {
        max-width: 75%;
    }

    .services-list {
        flex-wrap: wrap;
    }

    .services-item {
        width: calc((100% - (var(--gap))) / 2);
    }

    .form {
        margin: 0;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-left {
        margin-bottom: var(--gap);
    }

    .client-item {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .blog-preview-link {
        flex-direction: column;
    }

    .articles-blog-preview-image {
        object-fit: contain;
    }

    .footer-nav {
        margin-right: 30px;
    }

    .client-item {
        width: calc((100% - (var(--gap))) / 2);
    }

    .footer-item:not(:last-child) {
        margin-right: 15px;
    }

    .social-item:not(:last-child) {
        margin-right: 19px;
    }
}

@media (max-width: 576px) {

    :root {
        --gap: 15px;
    }

    .header {
        padding: 15px 0;
    }

    .header-logo {
        width: 80px;
    }

    .hero-section-main {
        padding: 30px 0;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-title {
        margin-bottom: 15px;
    }

    .hero-desc {
        margin-bottom: 15px;
    }

    .hero-button-secure {
        align-self: center;
        width: 100%;
        max-width: 300px;
    }

    .hero-button {
        width: 100%;
        padding: 19px 78px;
        margin-bottom: 15px;
    }

    .services-section-main {
        padding-top: 30px;
        padding-bottom: 60px;
    }

    .services-h2 {
        margin-bottom: 15px;
        text-align: left;
    }

    .section-desc {
        margin-bottom: 36px;
        text-align: left;
    }

    .services-item {
        justify-content: flex-start;
        height: 100%;
        min-height: 224px;
        padding: 15px;
    }

    .services-item-icon {
        margin-bottom: 15px;
        width: 42px;
        height: 42px;
    }

    .services-h3 {
        margin-bottom: 3px;
        font-size: 16px;
    }

    .services-desc {
        font-size: 12px;
    }

    .articles-section-main {
        padding: 60px 0;
    }

    .articles-h2 {
        margin-bottom: 13px;
    }

    .articles-item {
        width: 100%;
        min-height: 191px;
    }

    .blog-preview-link {
        flex-direction: row;
    }

    .blog-preview-link img {
        object-fit: cover;
        width: 29%;
    }

    .articles-blog-preview-text {
        justify-content: center;
        padding: 15px;
    }

    .articles-time {
        margin-bottom: 3px;
    }

    .articles-h3 {
        margin-bottom: 3px;
    }

    .articles-list {
        margin-bottom: 40px;
    }

    .article-center {
        display: block;
    }

    .article-button {
        padding: 10px 20px;
        border-radius: 3px;
    }

    .articles-item:nth-last-child(-n+2) {
        display: none;
    }

    .article-center--hidden {
        display: none;
    }

    .articles-item.articles-item--visible {
        display: block;
    }

    .clients-section-main {
        padding: 60px 0;
    }

    .clients-list {
        justify-content: center;
    }

    .clients-h2 {
        margin-bottom: 15px;
    }

    .client-item {
        width: 100%;
        max-width: 340px;
        align-items: center;
    }

    .client-name {
        margin-bottom: 0;
        line-height: 107%;
    }

    .contacts-section-main {
        padding: 60px 0;
    }

    .h2-contact {
        margin-bottom: 16px;
    }

    .contacts-list {
        flex-direction: column;
    }

    .contacts-item {
        width: 100%;
        padding-top: 37px;
        background-position-x: 1%;
    }

    .contacts-item:not(:last-child) {
        margin-bottom: 17px;
    }

    .contacts-item-caption {
        margin-bottom: 10px;
    }

    .join-us-section-main {
        padding: 60px 0;
    }

    .join-us-h2 {
        margin-bottom: 15px;
        text-align: left;
    }

    .form-top {
        flex-direction: column;
        gap: 15px;
    }

    .form-left {
        gap: 15px;
        width: 100%;
    }

    .form-input,
    .form-select {
        padding: 19px 20px;
    }

    .form-right {
        width: 100%;
        min-height: 240px;
    }

    .form-text-area {
        padding: 15px 20px;
    }

    .form-bottom {
        margin-top: 15px;
    }

    .form-bottom-wrapping {
        width: 100%;
    }

    .button-join-us {
        margin-bottom: 15px;
        width: 100%;
    }

    .footer {
        padding: 0;
        padding-top: 30px;
    }

    .footer-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .footer-right {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 28px;
    }

    .footer-nav {
        margin: 0;
        margin-bottom: 26px;
    }

    .footer-list {
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 30px;
    }

    .footer-item {
        font-size: 15px;
    }

    .footer-item:not(:last-child) {
        margin: 0;
    }

    .social-item:not(:last-child) {
        margin-right: 25px;
    }

    .footer-left {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .footer-logo {
        margin: 0;
        align-self: flex-start;
        width: 80px;
        margin-bottom: 26px;
    }

    .footer-copy {
        position: relative;
        display: block;
        width: 100%;
        padding: 17px 0;
        text-align: center;
    }

    .footer-copy::before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        height: 1px;
        width: calc(100% + 30px);
        background-color: #C4C4C4;
    }
}